.blogWrapper{
    height: 100%;
    width: 100%;
}
.logOutDiv{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 5px 10px;
    border-bottom: 1px solid black;;
}
.logoutPart{
    text-align: right;
}
.emailDetail{
    margin-top: -5px;
}
.userEmail{
    font-weight: bold;
    
}
.logoutIcon{
    font-size: 30px !important;
}
.secondPortion{
    height: calc(100% - 80px);
    overflow: auto;
    padding: 20px;
    width: 100%;
}
.addBlogs{
    text-align: right;
    margin: 10px 0 15px 0;
}
.addBlogButton{
    height:48px;
    border:1px solid #3592FF;
    color:#fff;
    font-size:16px;
    font-weight: bold;
    background-color:#3592FF;
    border-radius: 4px;
}
.blogBox{
    border: 1px solid #f7f7f7;
    background: #f7f7f7;
    border-radius: 7px;
    /* width: 100%; */
    /* width: 200px;
    height: 250px; */
    word-break: break-all;
    margin: 10px;
    padding: 10px;
}
.blogAuthor{
    font-size: 16px;
    color: gray;
}
.blogDescription{
    font-size: 15px;
    margin-top: 5px;
}
.displyFlex{
    display: flex;
}
.Addlbl{
    color:#444444;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
}
.spacing{
    margin:25px 10px;
    text-align: left;
}
.errorMsg{
    text-align: left;
    color: red;
    font-size: 14px;
}
.addBlogLBL{
    font-weight: bold;
    margin-right: 10px;
    width: 125px;
}
.formsGroup{
    display: flex;
    align-items: flex-start;
}
.input{
    height:48px;
    background-color:#fff;
    font-size:16px;
    width: 100% !important;
    border:none;
    font-weight: normal;
    border: 1px solid #DFDEDE;
    color:#AAAAAA;
    outline:none !important;
}
.addBtn{
    height:48px;
    border:1px solid #3592FF;
    color:#fff;
    font-size:16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    padding: 0 10px;
    /* font-family: Roboto; */
    background-color:#3592FF;
}
.addBlogPage{
    background-color:#ffffff;
    width:300px;
    height:auto;
    /* min-width:300px;
    max-width:383px; */
    padding:18px;
    border: 1px solid #DFDEDE;
    margin:auto;
}
.textarea{
    height:200px;
    width:100%;
    background-color:#fff;
    font-size:16px;
    border:none;
    font-weight: normal;
    border: 1px solid #DFDEDE;
    color:#AAAAAA;
    outline:none !important;
}
.formContent{
    margin-top: 5px;
    height: auto;
    width: 100%;
    border: 1px solid gray;
    padding: 10px;
}